<div id="my-header2">
    <h1 class="no-selection pt-1 mr-4"><i class="fas fa-users"></i></h1>
    <h1 class="no-selection pt-1 mr-4">Dochadzka - </h1>
    <h1 class="pt-1">HC3  / Zmena C </h1>
    <h1 class="pt-1" style="position: absolute; right:8px;">Δ = -2</h1>
</div>

<div class="container">
    <div class="row mb-3 d-flex justify-content-center">
        <div class="col-5"></div>
        <div class="col-3 text-center labelCol">Monitor</div>
        <div class="col-3 text-center labelCol">Operator</div>
    </div>
    <div class="row mb-3 sizeModalRow d-flex justify-content-center">
        <div class="col-5 labelModalRow"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Celkový počet pracovníkov v GDH"></i>
            Suma pracovnikov
        </div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
    </div>
    <div class="row mb-3 sizeModalRow d-flex justify-content-center">
        <div class="col-5 labelModalRow"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Počet pracovníkov kvôli  práce neschopnosti  ,návšteve lekára ,preventívna prehliadka"></i>
            PN + Lekár
        </div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
    </div>
    <div class="row mb-3 sizeModalRow d-flex justify-content-center">
        <div class="col-5 labelModalRow"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Počet pracovníkov ktorý čerpajú dovolenku a náhradne voľno."></i>
            Dovolenka + NV
        </div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
    </div>
    <div class="row mb-3 sizeModalRow d-flex justify-content-center">
        <div class="col-5 labelModalRow"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Počet pracovníkov  ktorý neohlásene  neprišli do práce alebo nevydokladovali neprítomnosť v práci (A05)"></i>
            Suma Iné
        </div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
    </div>
    <div class="row mb-3 sizeModalRow d-flex justify-content-center">
        <div class="col-5 labelModalRow"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Počet pracovníkov v školiacom procese+ všetky školenia aj mimo pracoviska"></i>
            Školenie
        </div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
    </div>
    <div class="row mb-3 sizeModalRow d-flex justify-content-center">
        <div class="col-5 labelModalRow"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Počet pracovníkov požičaných inému sektoru."></i>
            Požičaný (preč)
        </div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
    </div>
    <div class="row mb-3 sizeModalRow d-flex justify-content-center">
        <div class="col-5 labelModalRow"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Počet vypožičaných pracovnikov s iného  sektora."></i>
            Vypožičaný
        </div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
    </div>
    <div class="row mb-3 sizeModalRow d-flex justify-content-center">
        <div class="col-5 labelModalRow"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Počet nadčasárov z druhých zmien + Víkendová zmena"></i>
            Nadčas z 2 zmeny <sup>
                <small><i class="far fa-clock"></i></small>
            </sup>
        </div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
    </div>
    <div class="row sizeModalRow d-flex justify-content-center">
        <div class="col-5 labelModalRow"> <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom"></i>
            Neobsadených modulov <sup>
                <small id="moduly-monitora-text"></small>
            </sup>
        </div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
        <div class="col-3"><input class="form-control text-center inputModalRow" type="text" placeholder="0"></div>
    </div>
</div>
